html, body {
    height: 100%;
    margin: 10px;
    padding: 0;
}
   
#map-canvas {
    height: 85%;
    margin: 10px;
    padding: 0;
}
#controller-panel {
    height:100%;
}

.loading-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )
                url('https://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .loading-modal {
    display: block;
}

.btn.active {
    color: #fff;
    background-color: #36648B;
}
